@charset "UTF-8";

html{
  font-size: 100%;
  scroll-behavior: smooth;
}

body{
  color: #333;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

a{
  text-decoration: none;
  color: #333;
}

img{
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.wrapper{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

li{
  list-style: none;
}

.site-title{
  line-height: 1px;
}

.site-title a{
  display: block;
}

.page-title-box{
  padding-top: 146px;
}

.page-title{
  font-size: 1.375rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-left: 8px solid #E60012;
  font-weight: bold;
}

.section-title{
  margin-top: 80px;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.section-title::after{
  content: '';
  flex-grow: 1;
  height: 1px;
  background: #E60012;
  margin-left: 10px;
}

/* Header */

.header{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #E60012;
  position: fixed;
  z-index: 100;
  background-color: #fff;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.header__nav ul{
  display: flex;
}

.header__nav ul li{
  margin-right: 40px;
  font-size: 0.875rem;
  transition: .25s;
}

.header__nav ul li:hover{
  opacity: .8;
}

.header__nav ul li:last-of-type{
  margin-right: 0px;
}

.sp-nav{
  display: none;
}


.btn-menu{
  position: fixed;
  z-index: 110;
  cursor: pointer;
  transition: .4s;
}

.hamburger{
  left: 20px;
  top: 26px;
  width: 30px;
  height: 26px;
}

.hamburger__line{
  width: 30px;
  height: 2px ;
  background: #E60012;
  position: absolute;
  left: 0;
}

.hamburger__line:nth-child(1) {
  top: 0;
}
.hamburger__line:nth-child(2) {
  top: 12px;
}
.hamburger__line:nth-child(3) {
  bottom: 0;
}

.cross{
  left: 40px;
  top: 27px;
  width: 22px;
  height: 22px;
}

.cross__line{
  width: 30px;
  height: 2px ;
  background: #fff;
  position: absolute;
  left: 0;
}

.cross__line:nth-child(1) {
  left: -4px;
  top: 10px;
  transform: rotate(-45deg);
}
.cross__line:nth-child(2) {
  top: 10px;
  left: -4px;
  transform: rotate(45deg);
}

#menu-panel{
  position: fixed;
  top: 0;
  right: 0;
  z-index: 200;
  padding-top: 4.375rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  translate: 100vw;
}

.menu-list{
  color: #fff;
  text-align: center;
}
.menu-list li{
  margin-bottom: 20px;
}

.menu-list a{
  color: #fff;
  font-size: 1rem;
}

/* MV */
.mv{
  text-align: center;
  overflow: hidden;
  padding-top: 80px;
}

.mv__inner img{
  width: 100vw;
  max-width: 2500px;
  height: 600px;
  object-fit: cover;
}

/* Top-News */

.top-news{
  margin-top: 80px;
}

.top-posts__list{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}

.top-posts__list:first-of-type{
  padding-top: 0px;
}

.top-posts__list:last-of-type{
  padding-bottom: 0px;
  border-bottom: none;
}

.top-posts__header{
  width: 22%;
}

/* Company-Work */

.company-work{
  margin: 0 auto;
  margin-top: 80px;
  height: 360px;
  max-width: 2000px;
  display: flex;
}

.company{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  background-image: url(../images/top-company.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.work{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  background-image: url(../images/top-work.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* Footer */

.footer{
  margin-top: 120px;
  padding-top: 90px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  color: #707070;
}

.footer__list{
  display: flex;
  justify-content: center;
}

.footer__item:first-of-type{
  padding-right: 30px;
  border-right: 1px solid #707070;
}

.footer__item:last-of-type{
  padding-left: 30px;
}

.footer__list .footer__item a{
  color: #707070;
  font-size: 0.875rem;
  transition: .25s;
}

.footer__list .footer__item a:hover{
  opacity: .8;
}

.copyright{
  text-align: center;
  margin-top: 40px;
  font-size: 0.75rem;
}

/* company.html */

/* Concept */

.concept__content{
  margin: 0 auto;
  margin-top: 40px;
  width: 72%;
}

.concept__title{
  font-size: 1.125rem;
  font-weight: bold;

}

.concept__text{
  margin-top: 20px;
  line-height: 1.8;
}

.concept__img{
  width: 100%;
}

.concept__img img{
  height: 400px;
}

/* Company-Detail */

.horizontal-table{
  margin: 0 auto;
  margin-top: 40px;
  width: 72%;
}

.horizontal-table__inner{
  width: 100%;
  border-collapse: collapse;
}

.horizontal-table__header{
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #707070;
  text-align: left;
  font-weight: normal;
}

.horizontal-table__text{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
  border-bottom: 1px solid #707070;
  background-color: #fff;
  line-height: 2;
}

.horizontal-table__row:first-child
.horizontal-table__header{
  border-top: 8px solid #3E3232;
}

.horizontal-table__row:first-child
.horizontal-table__text{
  border-top: 8px solid #707070;
}

/* Location */

.location__content{
  margin: 0 auto;
  margin-top: 40px;
  width: 72%;
}

.google-map iframe {
  height: 450px;
  width: 100%;
  border: 0;
}

.location-text{
  margin-top: 10px;
}

/* work.html */


.sample-slider{
  width:100%;
}
.sample-slider img{
  width: 580px;
  height: 380px;
}

.swiper-container{
  position: relative;
  width: 100%;
  margin: 0 auto;
  margin-top: 55px;
}

.swiper-container .up-pagination{
  bottom: -30px!important;
}
.swiper-container .down-pagination{
  bottom: -30px!important;
}

.contact{
  margin-top: 120px;
}

.contact__box{
  display: flex;
  height: 242px;
}

.contact__left{
  width: 45%;
  background-color: #E60012;
  color: #fff;
}

.contact__left__inner{
  width: 53.3%;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 5px;
}

.contact__left__title{
  font-size: 1.25rem;
  font-weight: bold;
}

.contact__left__text{
  font-size: 0.875rem;
  margin-top: 10px;
}

.contact__right{
  width: 55%;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact__right__left{
  width: 50%;
  text-align: center;
  border-right: 1px solid #E60012;
  font-weight: bold;
}

.contact__right__number{
  font-size: 1.875rem;
}

.contact__right__right{
  width: 50%;
  text-align: center;
}

.contact__right__right p{
  font-weight: bold;
}

.contact__right__right a{
  display: inline-block;
  font-weight: bold;
  width: 156px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #fff;
  border: 1px solid #000;
  margin-top: 10px;
  transition: .3s;
}

.contact__right__right a:hover{
  color: #fff;
  background-color: #000;
}

/* news.html */

.news-table{
  margin-top: 45px;
}

.news-table__inner{
  width: 100%;
  border-collapse: collapse;
}

.news-table__header{
  width: 20%;
  padding: 15px 20px 15px 20px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #707070;
  font-weight: normal;
  text-align: left;
}

.news-table__row:first-of-type .news-table__header{
  border-top: 8px solid #3E3232;
}

.news-table__text{
  padding: 15px 20px 15px 20px;
  border-bottom: 1px solid #707070;
}

.news-table__row:first-of-type .news-table__text{
  border-top: 8px solid #707070;
}

.news-table__row:last-child.news-table__header, 
.news-table__row:last-child.news-table__text{
  border-bottom-width: 0;
}

/* privacy.html */


.personal__text{
  margin: 0 auto;
  margin-top: 40px;
  width: 72%;
  line-height: 1.8;
}

.privacy-table{
  margin-top: 40px;
}

.privacy-table__inner{
  margin: 0 auto;
  width: 72%;
  border-collapse: collapse;
}

.privacy-table__header{
  width: 25%;
  padding: 15px 20px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #707070;
  font-weight: normal;
  text-align: left;
  line-height: 2;
}

.privacy-table__row:first-of-type .privacy-table__header{
  background-color: #3E3232;
  color: #fff;
}

.privacy-table__text{
  padding: 15px 20px;
  border-bottom: 1px solid #707070;
  line-height: 2;
}

.privacy-table__row:first-of-type .privacy-table__text{
  background-color: #707070;
  color: #fff;
}

.privacy-table__row:last-child.privacy-table__header, 
.privacy-table__row:last-child.privacy-table__text{
  border-bottom-width: 0;
}

.personal-table{
  margin-top: 40px;
}

.personal-table__inner{
  margin: 0 auto;
  width: 72%;
  border-collapse: collapse;
}

.personal-table__header{
  width: 25%;
  padding: 15px 20px;
  background-color: #efefef;
  border-bottom: 1px solid #ddd;
  font-weight: normal;
  line-height: 1.8;
}

.personal-table__row:first-of-type .personal-table__header{
  background-color: #3E3232;
  color: #fff;
}

.personal-table__text{
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  line-height: 1.8;
}

.personal-table__row:first-of-type .personal-table__text{
  background-color: #707070;
  color: #fff;
}

.personal-table__row:last-child.personal-table__header, 
.personal-table__row:last-child.personal-table__text{
  border-bottom-width: 0;
}

/* contact.html */

/*----------------------------------------
	contactTable
----------------------------------------*/

.contact-form{
  margin-top: 30px;
}

.contactTable {
  width: 100%;
}
.contactTable tr {
  height: 100px; 
  border-top: 1px dashed #ccc;
}
.contactTable tr:last-of-type {
  border-bottom: 1px dashed #ccc;
}
.contactTable th {
  width: 32.4%;
  padding: 20px 40px 20px 0;
  vertical-align: middle;
}
.contactTable td {
  padding: 20px 0;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .contactTable,
  .contactTable tbody,
  .contactTable tr,
  .contactTable th,
  .contactTable td {
    display: block;
  }
  .contactTable tr {
    height: auto;
  }
  .contactTable th {
    width: 100%;
    padding: 20px 0 0 0;
    text-align: left;
  }
  .contactTable td {
    padding: 10px 0 20px 0;
  }
}

/*----------------------------------------
	Form Parts
----------------------------------------*/
/*各フォーム部品の基本スタイルを上書きします*/
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea,
select {
  appearance: none; 
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
  font-family: inherit;
}
input[type="number"],
input[type="password"] {
  width: 100%;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 4px;
}
/*フォーカス時*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus,
input[type="number"],
input[type="password"] {
  outline: none;
  box-shadow: 0 0 5px #E60012;
}
/*エラー時*/
.is-error input[type="text"],
.is-error input[type="email"],
.is-error input[type="tel"],
.is-error input[type="url"],
.is-error input[type="number"],
.is-error input[type="password"],
.is-error textarea,
.is-error select,
.is-error .selectWrap{
  color: #DF5656;
  border-color: #DF5656;
}

/*select
--------------------------*/
.selectWrap {
  position: relative;
}
.selectWrap::after {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-right: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(45deg);
}


/*radio, checkbox
------------------------------------*/
input[type="radio"],
input[type="checkbox"] {
  opacity: 0; 
  position: absolute; 
}
/*クリック範囲*/
input[type="radio"]+span,
input[type="checkbox"]+span {
  display: inline-block;
  position: relative;
  margin: 0 2em 0 0;
  padding: 0.5em 0.3em 0.3em 2em;
  line-height: 1;
  vertical-align: middle;
  cursor: pointer;
}
/*フォーカス時*/
input[type="radio"]:focus+span,
input[type="checkbox"]:focus+span {
  outline: none;
  box-shadow: 0 0 5px #E60012;
}

/*ラジオボタンスタイル*/
input[type="radio"]+span:before {
  content: "";
  position: absolute;
  top: 0.25em;
  left: 0;
  width: 1.375em;
  height: 1.375em;
	border: 1px solid #ccc;
  border-radius: 50%;
  line-height: 1;
  background: #fff;
}
/*ラジオボタンチェック印（未選択）*/
input[type="radio"]+span:after {
  content: "";
  display: none;
}
/*ラジオボタンチェック印（選択）*/
input[type="radio"]:checked+span:after {
  display: block;
  position: absolute;
  top: 0.45em;
  left: 0.2em;
  width: 1em;
  height: 1em;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  background: #E60012;
  line-height: 1;
}
/*チェックボックススタイル*/
input[type="checkbox"]+span:before {
  position: absolute;
  top: 0.3em;
  left: 0;
  content: "";
  width: 1.25em;
  height: 1.25em;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1;
  vertical-align: middle;
}
/*チェックボックス未チェック時*/
input[type="checkbox"]+span:after {
  content: "";
  display: none;
}
/*チェックボックスチェック時*/
input[type="checkbox"]:checked+span:after {
  display: block;
  position: absolute;
  top: 0.3em;
  left: 0.4em;
  width: 0.5em;
  height: 1em;
  content: "";
  border-bottom: 3px solid #E60012;
  border-right: 3px solid #E60012;
  transform: rotate(45deg);
}

/*----------------------------------------
	Form Layout
----------------------------------------*/
/*ラベル*/
.inputLabel {
  font-weight: 500;
  font-size: 18px;
}
@media screen and (min-width:768px),print {
  .inputLabel {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
/*サブラベル*/
.inputSubLabel {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

/*必須ラベル*/
.require {
  display: inline-block;
  margin-left: 10px;
  padding: 0 10px;
  background: #E60012;
  color: #fff;
  font-weight: normal;
  font-size: 0.75rem;
  vertical-align: middle;
}

/*注意書き*/
.inputNote {
  margin-top: 10px;
  color: #707070;
  font-size: 12px;
}

/*名前・フリガナ*/
.nameLayout >* + *{
  margin-top: 10px;
}
@media screen and (min-width:768px),print {
  .nameLayout {
    display: flex;
    justify-content: space-between;
  }
  .nameLayout > * {
    width: 48.68%;
  }
  .nameLayout > * + * {
    margin-top: 0;
  }
}

/*法人・個人*/
.radioList_hr {
  display: flex;
}

/*エラーメッセージ*/
.errorText {
  display: none;
  align-items: center;
  margin-top: 16px;
  color: #df5656;
  font-weight: bold;
}
.inputField.is-error .errorText {
  display: block;
}
.errorText::before {
  content: "";
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
  margin-right: 0.2em;
  background: url(../img/icon_attention.svg) center center / contain no-repeat;
  vertical-align: middle;
}


/*----------------------------------------
	個人情報保護方針チェック
----------------------------------------*/
.privacyBox {
  margin: 50px 0;
  padding: 20px;
  border: 1px solid #ccc;
}
.privacyBox__check {
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width:768px),print {
  .privacyBox {
    margin: 80px 0;
    padding: 40px;
    text-align: center;
  }
  .privacyBox__check {
    margin-top: 50px;
  }
}

/*----------------------------------------
	送信ボタン
----------------------------------------*/
.formBtns {
  display: flex;
  justify-content: center;
}
.buttonAction {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  margin: 0;
  padding: 20px;
  width: 100%;
  max-width: 400px;
  border: 2px solid #E60012;
  background: #E60012;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  letter-spacing: 0.2em;
  transition: opacity 0.3s, color 0.3s;
  cursor: pointer;
}
.buttonAction:hover {
  opacity: 0.7;
}

/* SP */

@media screen and (max-width: 767px) {
  .sp-nav{
    display: block;
  }

  /* Header */

  .header__inner{
    padding-top: 27px;
  }
  .header__nav ul{
    display: none;
  }
  .site-title{
    margin: 0 auto;
  }
  .site-title a img{
    width: 180px;
    height: 23px;
  }

  /* MV */
  .mv__inner img{
    height: 450px;
  }

  /* Top-News */
  .top-news{
    margin-top: 60px;
  }
  .top-posts__list{
    flex-direction: column;
    font-size: 0.875rem;
  }
  .top-posts__header{
    width: 100%;
  }
  .top-posts__title{
    margin-top: 5px;
  }

  /* Company-Work */
  .company-work{
    margin-top: 60px;
    height: auto;
    flex-direction: column;
  }
  .company{
    width: 100%;
    height: 300px;
    font-size: 1.5rem;
  }
  .work{
    width: 100%;
    height: 300px;
    font-size: 1.5rem;
  }

  /* Footer */
  .footer{
    margin-top: 90px;
    padding-top: 70px;
  }
  .footer__item:first-of-type{
    padding-right: 20px;
  }
  .footer__item:last-of-type{
    padding-left: 20px;
  }
  .copyright{
    margin-top: 30px;
  }

    /* company.html */

  /* Concept */
  .concept__content{
    margin-top: 30px;
    width: 95%;
  }
  .concept__title{
    font-size: 1rem;
  }
  .concept__text{
    margin-top: 15px;
  }
  .concept__img img{
    height: 300px;
  }

  /* Company-Detail */

  .horizontal-table{
    margin-top: 30px;
    width: 95%;
  }
  .horizontal-table__header{
    width: 30%;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 10px;
    font-size: 0.875rem;
  }
  .horizontal-table__text{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 10px;
    font-size: 0.875rem;
  }
  .horizontal-table__row:first-child
  .horizontal-table__header{
    border-top: 5px solid #3E3232;
  }
  .horizontal-table__row:first-child
  .horizontal-table__text{
    border-top: 5px solid #707070;
  }

  /* Location */
  .location__content{
    margin-top: 30px;
    width: 95%;
  }

  .google-map iframe {
    height: 350px;
  }

  /* work.html */


  .sample-slider{
    width:100%;
  }
  .sample-slider img{
    width: 400px;
    height: 300px;
  }
  .swiper-container{
    margin-top: 30px;
  }
  .contact{
    margin-top: 90px;
  }
  .contact__box{
    flex-direction: column;
    height: auto;
  }
  .contact__left{
    margin: 0 auto;
    width: 95%;
  }
  .contact__left__inner{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  } 
  .contact__left__title{
    font-size: 1rem;
  }
  .contact__right{
    width: 95%;
    margin: 0 auto;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .contact__right__left{
    width: 100%;
    border-right: none;
  }
  .contact__right__number{
    font-size: 1.5rem;
  }
  .contact__right__right{
    width: 100%;
  } 
  .contact__right__right p{
    margin-top: 20px;
  }
  .contact__right__right a{
    margin-top: 10px;
  }
  
  /* news.html */


  .news-table{
    margin-top: 35px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .news-table__header{
    width: 20%;
    padding: 12px 12px 12px 10px;
    font-size: 0.875rem;
    white-space: nowrap;
  }
  .news-table__row:first-of-type .news-table__header{
    border-top: 5px solid #3E3232;
  }
  .news-table__text{
    padding: 15px 20px 15px 20px;
    white-space: nowrap;
    border-right: 1px solid #3E3232;
  }
  .news-table__row:first-of-type .news-table__text{
    border-top: 5px solid #707070;
  }

  /* privacy.html */


  .personal__text{
    margin-top: 30px;
    width: 95%;
  }
  .privacy-table{
    margin-top: 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .privacy-table__inner{
    width: 95%;
  }
  .privacy-table__header{
    width: 25%;
    padding: 10px 15px;
    white-space: nowrap;
    font-size: 0.875rem;
  }
  .privacy-table__text{
    padding: 10px 15px;
    white-space: nowrap;
    border-right: 1px solid #000;
  }
  .personal-table{
    margin-top: 30px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .personal-table__inner{
    width: 95%;
  }
  .personal-table__header{
    padding: 10px 15px;
    font-size: 0.875rem;
    white-space: nowrap;
  }
  .personal-table__text{
    padding: 10px 15px;
    white-space: nowrap;
    border-right: 1px solid #000;
  }
}