@charset "UTF-8";

html{
  font-size: 100%;
}

body{
  color: #333;
  font-family: 'Helvetica Neue', Arial, 'Hiragino Kaku Gothic ProN', 'Hiragino Sans', Meiryo, sans-serif;
}

a{
  text-decoration: none;
  color: #333;
}

img{
  max-width: 100%;
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

.wrapper{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

li{
  list-style: none;
}

.site-title{
  line-height: 1px;
}

.site-title a{
  display: block;
}

.page-title-box{
  padding-top: 146px;
}

.page-title{
  font-size: 1.375rem;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  border-left: 8px solid #E60012;
  font-weight: bold;
}

.section-title{
  margin-top: 80px;
  font-size: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.section-title::after{
  content: '';
  flex-grow: 1;
  height: 1px;
  background: #E60012;
  margin-left: 10px;
}

/* Header */

.header{
  width: 100%;
  height: 80px;
  border-bottom: 1px solid #E60012;
  position: fixed;
  z-index: 5;
  background-color: #fff;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}

.header__nav ul{
  display: flex;
}

.header__nav ul li{
  margin-right: 40px;
  font-size: 0.875rem;
  transition: .25s;
}

.header__nav ul li:hover{
  opacity: .8;
}

.header__nav ul li:last-of-type{
  margin-right: 0px;
}

/* MV */
.mv{
  text-align: center;
  overflow: hidden;
  padding-top: 80px;
}

.mv__inner img{
  width: 100vw;
  max-width: 2500px;
  height: 600px;
  object-fit: cover;
}

/* Top-News */

.top-news{
  margin-top: 80px;
}

.top-posts__list{
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  border-bottom: 1px solid #ccc;
}

.top-posts__list:first-of-type{
  padding-top: 0px;
}

.top-posts__list:last-of-type{
  padding-bottom: 0px;
  border-bottom: none;
}

.top-posts__header{
  width: 22%;
}

/* Company-Work */

.company-work{
  margin: 0 auto;
  margin-top: 80px;
  height: 360px;
  max-width: 2000px;
  display: flex;
}

.company{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  background-image: url(../images/top-company.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.work{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  background-image: url(../images/top-work.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

/* Footer */

.footer{
  margin-top: 120px;
  padding-top: 90px;
  padding-bottom: 20px;
  background-color: #f2f2f2;
  color: #707070;
}

.footer__list{
  display: flex;
  justify-content: center;
}

.footer__item:first-of-type{
  padding-right: 30px;
  border-right: 1px solid #707070;
}

.footer__item:last-of-type{
  padding-left: 30px;
}

.footer__list .footer__item a{
  color: #707070;
  font-size: 0.875rem;
  transition: .25s;
}

.footer__list .footer__item a:hover{
  opacity: .8;
}

.copyright{
  text-align: center;
  margin-top: 40px;
  font-size: 0.75rem;
}

/* company.html */

/* Concept */

.concept__content{
  margin: 0 auto;
  margin-top: 40px;
  width: 72%;
}

.concept__title{
  font-size: 1.125rem;
  font-weight: bold;

}

.concept__text{
  margin-top: 20px;
  line-height: 1.8;
}

.concept__img{
  width: 100%;
}

.concept__img img{
  height: 400px;
}

/* Company-Detail */

.horizontal-table{
  margin: 0 auto;
  margin-top: 40px;
  width: 72%;
}

.horizontal-table__inner{
  width: 100%;
  border-collapse: collapse;
}

.horizontal-table__header{
  width: 20%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
  background-color: #f5f5f5;
  border-bottom: 1px solid #707070;
  text-align: left;
  font-weight: normal;
}

.horizontal-table__text{
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 5px;
  border-bottom: 1px solid #707070;
  background-color: #fff;
  line-height: 2;
}

.horizontal-table__row:first-child
.horizontal-table__header{
  border-top: 8px solid #3E3232;
}

.horizontal-table__row:first-child
.horizontal-table__text{
  border-top: 8px solid #707070;
}

/* Location */

.location__content{
  margin: 0 auto;
  margin-top: 40px;
  width: 72%;
}

.google-map{
  height: 450px;
  background-color: #f2f2f2;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-text{
  margin-top: 10px;
}